<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16x16.png">
    <link rel="manifest" href="<%= BASE_URL %>site.webmanifest">
    <link rel="mask-icon" href="<%= BASE_URL %>safari-pinned-tab.svg" color="#5bbad5">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/5ae6f0bbeb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="<%= BASE_URL %>tailwind.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="/styles/table-component.css" rel="stylesheet">
    <link href="/styles/mobile-styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <title>A11y Toolbox by ABILITY</title>
    <style>
      html body .vue-notification-group{
        bottom:0;
        top:initial !important;
      }
      html{
        min-height:100vh;
      }
      body{
        height:100%;
        min-height:100vh;
      }
      body.mobile-no-overflow{
        overflow:hidden;
      }
      #app{
        min-height:100vh;
      }
      body.modalOpen {
        overflow:hidden;
      }
      /* width */
      ::-webkit-scrollbar {
        width: 7px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        /* box-shadow: inset 0 0 5px grey; 
        border-radius: 10px; */
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: grey; 
        /* border-radius: 10px; */
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        /* background: #b30000;  */
      }
      #sidebar .primary :not(tr):focus, #sidebar .primary button:focus {
        outline: 2px dashed #f9a51a;
        outline-offset: 1px;
      }

      .sidebarOpen.subSidebarExpanded ~ #content .adjust-with-sidebars{
        max-width:calc(100% - 400px);
        margin-left:auto;
      }
      .sidebarOpen ~ #content .adjust-with-sidebars{
        max-width:calc(100% - 200px);
        margin-left:auto;
      }
      .oswald{
        font-family: 'Oswald';
      }
      .barlow{
        font-family: 'Barlow';
      }
      
    </style>
  </head>
  <body class="font-body">
    <!-- <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript> -->
    
    <div id="app" class="h-full"></div>
    <!-- built files will be auto injected -->
  </body>
  <script>
    if( window.screen.width < 1024 ){
      document.querySelector("body").classList.add("mobileView")
    }
  </script>
</html>
